{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <div class="flex flex-col w-3/5 border-1 border-gray-300 absolute left-1/2 top-1/2 -translate-1/2 p-8 rounded-xl shadow max-w-150">

        <header class="h-fit flex flex-col w-full items-center justify-center gap-4 mb-10">
            <div class="w-20 h-20 bg-black rounded-lg flex items-center justify-center">
                <svg class="w-15 h-15 fill-white" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M12 12c2.21 0 4-1.79 4-4S14.21 4 12 4 8 5.79 8 8s1.79 4 4 4Zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4Z"/>
                </svg>
            </div>
            <h1 class="text-3xl mt-6">Créer un compte</h1>
            <p class="text-xl text-gray-500">Remplissez vos informations pour vous inscrire</p>
        </header>

        {{ form_start(registrationForm) }}

        <div class="flex flex-col">
            <label for="{{ registrationForm.email.vars.id }}" class="text-xl">Email</label>
            {{ form_widget(registrationForm.email, {
                attr: { class: 'form-control bg-gray-200 rounded-lg py-2 mb-4 px-2', placeholder: 'Votre email' }
            }) }}
            {{ form_errors(registrationForm.email) }}

            <label for="{{ registrationForm.plainPassword.vars.id }}" class="text-xl">Mot de passe</label>
            {{ form_widget(registrationForm.plainPassword, {
                attr: { class: 'form-control bg-gray-200 rounded-lg py-2 px-2', placeholder: 'Votre mot de passe' }
            }) }}
            {{ form_errors(registrationForm.plainPassword) }}

            <div class="flex items-center gap-2 mt-4">
                {{ form_widget(registrationForm.agreeTerms, {
                    attr: { class: 'h-4 w-4 text-indigo-600 border-gray-300 rounded' }
                }) }}
                <label for="{{ registrationForm.agreeTerms.vars.id }}" class="text-sm text-gray-700">
                    J’accepte les conditions d’utilisation
                </label>
            </div>
            {{ form_errors(registrationForm.agreeTerms) }}

            <button type="submit" class="bg-black text-white py-2 mt-6 text-xl rounded-lg">
                Inscription
            </button>
        </div>

        {{ form_end(registrationForm) }}

        <div class="w-full h-[1px] bg-gray-300 mt-10"></div>

        <div class="flex flex-col items-center py-8 w-full gap-4">
            <p class="text-xl text-gray-500">Déjà un compte ?</p>
            <a href="{{ path('app_login') }}" class="border-1 w-full py-2 border-gray-300 rounded-lg text-center">Se connecter</a>
        </div>
    </div>
{% endblock %}
