


{% block body %}

<div class="fixed bottom-0 w-full bg-white h-30 flex items-center justify-center shadow rounded-t-2xl z-50">
    <div class="flex items-center justify-between w-3/5">
        <a href="{{ path('app_dashboard') }}" class="text-2xl font-bold text-gray-800">{{ ux_icon('lucide:home', { 'class': 'w-10 h-10' }) }}</a>
        <a href="{{ path('app_user') }}" class="text-2xl text-gray-600 hover:text-gray-800">{{ ux_icon('lucide:users-round', { 'class': 'w-10 h-10' }) }}</a>
        <a href="{{ path('app_mission') }}" class="text-2xl text-gray-600 hover:text-gray-800">{{ ux_icon('lucide:search', { 'class': 'w-10 h-10' }) }}</a>
        <a href="{{ path('app_user_upcoming_missions') }}" class="text-2xl text-gray-600 hover:text-gray-800">{{ ux_icon('lucide:calendar-range', { 'class': 'w-10 h-10' }) }}</a>
        <a href="{{ path('app_association') }}" class="text-2xl text-gray-600 hover:text-gray-800">{{ ux_icon('lucide:group', { 'class': 'w-10 h-10' }) }}</a>
    </div>

</div>
{% endblock %}
